In [23]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv("train.csv")
df1 = pd.read_csv("test.csv")
df.head()

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,목,17,1,106,지방도1112호선,0,0,60.0,...,3,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0
1,TRAIN_0000001,20220728,목,21,2,103,일반국도11호선,0,0,60.0,...,0,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0
2,TRAIN_0000002,20211010,일,7,2,103,일반국도16호선,0,0,80.0,...,0,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0
3,TRAIN_0000003,20220311,금,13,2,107,태평로,0,0,50.0,...,0,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0
4,TRAIN_0000004,20211005,화,8,2,103,일반국도12호선,0,0,80.0,...,0,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0

In [25]:
df = df.drop('id', axis=1)
df1= df1.drop('id', axis=1)
df1

,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,...,height_restricted,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted
0,20220825,목,17,3,107,연삼로,0,0,70.0,0.0,...,0.0,0,산지2교,33.499427,126.541298,없음,제주은행사거리,33.500772,126.543837,있음
1,20220809,화,12,2,103,일반국도12호선,0,0,70.0,0.0,...,0.0,3,중문입구,33.258507,126.427003,없음,관광단지입구,33.258119,126.415840,없음
2,20220805,금,2,1,103,일반국도16호선,0,0,60.0,0.0,...,0.0,0,도순3교,33.258960,126.476508,없음,도순2교,33.259206,126.474687,없음
3,20220818,목,23,3,103,일반국도11호선,0,0,70.0,0.0,...,0.0,0,아라주공아파트,33.473494,126.545647,없음,인다마을,33.471061,126.545467,없음
4,20220810,수,17,3,106,번영로,0,0,70.0,0.0,...,0.0,0,부록교 시종점,33.501477,126.569223,없음,봉개교 시종점,33.496863,126.581230,없음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,20220827,토,5,1,103,일반국도16호선,0,0,80.0,0.0,...,0.0,0,월산마을,33.472819,126.463030,없음,도근교,33.470483,126.460846,없음
291237,20220819,금,20,2,103,일반국도11호선,0,0,60.0,0.0,...,0.0,0,영주교,33.305359,126.598914,없음,하례입구삼거리,33.300796,126.600332,없음
291238,20220805,금,11,1,107,신대로,0,0,30.0,0.0,...,0.0,0,마리나사거리,33.493624,126.496769,있음,칠오광장사거리,33.497500,126.496946,있음
291239,20220812,금,7,2,107,경찰로,0,0,60.0,0.0,...,0.0,0,국민의료보험관리공단,33.254782,126.507014,없음,의료보험조합,33.255659,126.507333,없음
291240,20220812,금,10,3,106,지방도1132호선,0,0,70.0,0.0,...,0.0,0,수모루교차로,33.246996,126.524358,없음,수모루,33.247053,126.523503,없음

In [26]:
df['road_name'].value_counts()

일반국도12호선    1046092
-            569463
일반국도16호선     554510
일반국도95호선     248181
일반국도11호선     215701
             ...
애원로            7718
아봉로            7342
남조로            6813
호서중앙로          2819
호근로             587
Name: road_name, Length: 61, dtype: int64

In [27]:
df['start_node_name'].value_counts()

고성교차로              42169
산신주유소              29386
미수2교               26635
영주교                24381
봉개교 시종점            24290
                   ...
외산리사무소               934
와산리                  881
성미가든                 788
서귀포시 호근동 1838-4      744
CU서귀호근로점             744
Name: start_node_name, Length: 487, dtype: int64

In [28]:
df['end_node_name'].value_counts()

고성교차로              42265
산신주유소              29202
구엄교                27510
미수2교               26621
영주교                24370
                   ...
외산리사무소               881
대흘교차로                788
서귀포시 서호동 308-6       744
서귀포시 호근동 1838-4      744
CU서귀호근로점             587
Name: end_node_name, Length: 487, dtype: int64

## 20221017 -> 2022-10-17 변환 작업

In [29]:
df['datetime'] = df['base_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
df1['datetime'] = df1['base_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [30]:
df.head()

,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,...,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target,datetime
0,20220623,목,17,1,106,지방도1112호선,0,0,60.0,0.0,...,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0,2022-06-23
1,20220728,목,21,2,103,일반국도11호선,0,0,60.0,0.0,...,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0,2022-07-28
2,20211010,일,7,2,103,일반국도16호선,0,0,80.0,0.0,...,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0,2021-10-10
3,20220311,금,13,2,107,태평로,0,0,50.0,0.0,...,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0,2022-03-11
4,20211005,화,8,2,103,일반국도12호선,0,0,80.0,0.0,...,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0,2021-10-05

In [31]:
df1.head()

,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,datetime
0,20220825,목,17,3,107,연삼로,0,0,70.0,0.0,...,0,산지2교,33.499427,126.541298,없음,제주은행사거리,33.500772,126.543837,있음,2022-08-25
1,20220809,화,12,2,103,일반국도12호선,0,0,70.0,0.0,...,3,중문입구,33.258507,126.427003,없음,관광단지입구,33.258119,126.415840,없음,2022-08-09
2,20220805,금,2,1,103,일반국도16호선,0,0,60.0,0.0,...,0,도순3교,33.258960,126.476508,없음,도순2교,33.259206,126.474687,없음,2022-08-05
3,20220818,목,23,3,103,일반국도11호선,0,0,70.0,0.0,...,0,아라주공아파트,33.473494,126.545647,없음,인다마을,33.471061,126.545467,없음,2022-08-18
4,20220810,수,17,3,106,번영로,0,0,70.0,0.0,...,0,부록교 시종점,33.501477,126.569223,없음,봉개교 시종점,33.496863,126.581230,없음,2022-08-10

In [32]:
df.drop('base_date', axis=1, inplace=True)
df1.drop('base_date', axis=1, inplace=True)
df1

,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,weight_restricted,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,datetime
0,목,17,3,107,연삼로,0,0,70.0,0.0,0.0,...,0,산지2교,33.499427,126.541298,없음,제주은행사거리,33.500772,126.543837,있음,2022-08-25
1,화,12,2,103,일반국도12호선,0,0,70.0,0.0,0.0,...,3,중문입구,33.258507,126.427003,없음,관광단지입구,33.258119,126.415840,없음,2022-08-09
2,금,2,1,103,일반국도16호선,0,0,60.0,0.0,0.0,...,0,도순3교,33.258960,126.476508,없음,도순2교,33.259206,126.474687,없음,2022-08-05
3,목,23,3,103,일반국도11호선,0,0,70.0,0.0,0.0,...,0,아라주공아파트,33.473494,126.545647,없음,인다마을,33.471061,126.545467,없음,2022-08-18
4,수,17,3,106,번영로,0,0,70.0,0.0,0.0,...,0,부록교 시종점,33.501477,126.569223,없음,봉개교 시종점,33.496863,126.581230,없음,2022-08-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,토,5,1,103,일반국도16호선,0,0,80.0,0.0,0.0,...,0,월산마을,33.472819,126.463030,없음,도근교,33.470483,126.460846,없음,2022-08-27
291237,금,20,2,103,일반국도11호선,0,0,60.0,0.0,0.0,...,0,영주교,33.305359,126.598914,없음,하례입구삼거리,33.300796,126.600332,없음,2022-08-19
291238,금,11,1,107,신대로,0,0,30.0,0.0,0.0,...,0,마리나사거리,33.493624,126.496769,있음,칠오광장사거리,33.497500,126.496946,있음,2022-08-05
291239,금,7,2,107,경찰로,0,0,60.0,0.0,0.0,...,0,국민의료보험관리공단,33.254782,126.507014,없음,의료보험조합,33.255659,126.507333,없음,2022-08-12
291240,금,10,3,106,지방도1132호선,0,0,70.0,0.0,0.0,...,0,수모루교차로,33.246996,126.524358,없음,수모루,33.247053,126.523503,없음,2022-08-12

## 연 월 일 분리

In [33]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day

df1['year'] = df1['datetime'].dt.year
df1['month'] = df1['datetime'].dt.month
df1['day'] = df1['datetime'].dt.day

df.head()

,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,weight_restricted,...,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target,datetime,year,month,day
0,목,17,1,106,지방도1112호선,0,0,60.0,0.0,32400.0,...,없음,제3교래교,33.427749,126.662335,없음,52.0,2022-06-23,2022,6,23
1,목,21,2,103,일반국도11호선,0,0,60.0,0.0,0.0,...,있음,KAL사거리,33.504811,126.526240,없음,30.0,2022-07-28,2022,7,28
2,일,7,2,103,일반국도16호선,0,0,80.0,0.0,0.0,...,없음,상창육교,33.280072,126.362147,없음,61.0,2021-10-10,2021,10,10
3,금,13,2,107,태평로,0,0,50.0,0.0,0.0,...,없음,서현주택,33.245565,126.566228,없음,20.0,2022-03-11,2022,3,11
4,화,8,2,103,일반국도12호선,0,0,80.0,0.0,0.0,...,없음,애월입구,33.462677,126.330152,없음,38.0,2021-10-05,2021,10,5

In [34]:
df.drop('datetime', axis=1, inplace=True)
df1.drop('datetime', axis=1, inplace=True)
df.head()

,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,weight_restricted,...,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target,year,month,day
0,목,17,1,106,지방도1112호선,0,0,60.0,0.0,32400.0,...,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0,2022,6,23
1,목,21,2,103,일반국도11호선,0,0,60.0,0.0,0.0,...,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0,2022,7,28
2,일,7,2,103,일반국도16호선,0,0,80.0,0.0,0.0,...,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0,2021,10,10
3,금,13,2,107,태평로,0,0,50.0,0.0,0.0,...,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0,2022,3,11
4,화,8,2,103,일반국도12호선,0,0,80.0,0.0,0.0,...,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0,2021,10,5

## 제한 구역(있음/없음) -> One-Hot Encoding

In [35]:
df = pd.get_dummies(df, columns=['start_turn_restricted', 'end_turn_restricted'])
df1 = pd.get_dummies(df1, columns=['start_turn_restricted', 'end_turn_restricted'])

In [36]:
df1

,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,weight_restricted,...,end_node_name,end_latitude,end_longitude,year,month,day,start_turn_restricted_없음,start_turn_restricted_있음,end_turn_restricted_없음,end_turn_restricted_있음
0,목,17,3,107,연삼로,0,0,70.0,0.0,0.0,...,제주은행사거리,33.500772,126.543837,2022,8,25,1,0,0,1
1,화,12,2,103,일반국도12호선,0,0,70.0,0.0,0.0,...,관광단지입구,33.258119,126.415840,2022,8,9,1,0,1,0
2,금,2,1,103,일반국도16호선,0,0,60.0,0.0,0.0,...,도순2교,33.259206,126.474687,2022,8,5,1,0,1,0
3,목,23,3,103,일반국도11호선,0,0,70.0,0.0,0.0,...,인다마을,33.471061,126.545467,2022,8,18,1,0,1,0
4,수,17,3,106,번영로,0,0,70.0,0.0,0.0,...,봉개교 시종점,33.496863,126.581230,2022,8,10,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,토,5,1,103,일반국도16호선,0,0,80.0,0.0,0.0,...,도근교,33.470483,126.460846,2022,8,27,1,0,1,0
291237,금,20,2,103,일반국도11호선,0,0,60.0,0.0,0.0,...,하례입구삼거리,33.300796,126.600332,2022,8,19,1,0,1,0
291238,금,11,1,107,신대로,0,0,30.0,0.0,0.0,...,칠오광장사거리,33.497500,126.496946,2022,8,5,0,1,0,1
291239,금,7,2,107,경찰로,0,0,60.0,0.0,0.0,...,의료보험조합,33.255659,126.507333,2022,8,12,1,0,1,0
291240,금,10,3,106,지방도1132호선,0,0,70.0,0.0,0.0,...,수모루,33.247053,126.523503,2022,8,12,1,0,1,0

In [37]:
df.columns

Index(['day_of_week', 'base_hour', 'lane_count', 'road_rating', 'road_name',
       'multi_linked', 'connect_code', 'maximum_speed_limit',
       'vehicle_restricted', 'weight_restricted', 'height_restricted',
       'road_type', 'start_node_name', 'start_latitude', 'start_longitude',
       'end_node_name', 'end_latitude', 'end_longitude', 'target', 'year',
       'month', 'day', 'start_turn_restricted_없음', 'start_turn_restricted_있음',
       'end_turn_restricted_없음', 'end_turn_restricted_있음'],
      dtype='object')

## day_of_week, road_name, start_node_name, end_node_name 변환

In [38]:
from sklearn.preprocessing import LabelEncoder

class_le = LabelEncoder()
y = class_le.fit_transform(df['day_of_week'].values)
x = class_le.transform(df1['day_of_week'].values)
df['day_of_week']=y
df1['day_of_week']=x
df.head()

,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,weight_restricted,...,end_latitude,end_longitude,target,year,month,day,start_turn_restricted_없음,start_turn_restricted_있음,end_turn_restricted_없음,end_turn_restricted_있음
0,1,17,1,106,지방도1112호선,0,0,60.0,0.0,32400.0,...,33.427749,126.662335,52.0,2022,6,23,1,0,1,0
1,1,21,2,103,일반국도11호선,0,0,60.0,0.0,0.0,...,33.504811,126.526240,30.0,2022,7,28,0,1,1,0
2,4,7,2,103,일반국도16호선,0,0,80.0,0.0,0.0,...,33.280072,126.362147,61.0,2021,10,10,1,0,1,0
3,0,13,2,107,태평로,0,0,50.0,0.0,0.0,...,33.245565,126.566228,20.0,2022,3,11,1,0,1,0
4,6,8,2,103,일반국도12호선,0,0,80.0,0.0,0.0,...,33.462677,126.330152,38.0,2021,10,5,1,0,1,0

In [39]:
class_le1 = LabelEncoder()

df['road_name'] = class_le1.fit_transform(df['road_name'].values)
df1['road_name'] = class_le1.transform(df1['road_name'].values)

class_le2 = LabelEncoder()

df['start_node_name'] = class_le2.fit_transform(df['start_node_name'].values)
df1['start_node_name'] = class_le2.transform(df1['start_node_name'].values)

class_le3 = LabelEncoder()

df['end_node_name'] = class_le3.fit_transform(df['end_node_name'].values)
df1['end_node_name'] = class_le3.transform(df1['end_node_name'].values)

df

,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,weight_restricted,...,end_latitude,end_longitude,target,year,month,day,start_turn_restricted_없음,start_turn_restricted_있음,end_turn_restricted_없음,end_turn_restricted_있음
0,1,17,1,106,46,0,0,60.0,0.0,32400.0,...,33.427749,126.662335,52.0,2022,6,23,1,0,1,0
1,1,21,2,103,34,0,0,60.0,0.0,0.0,...,33.504811,126.526240,30.0,2022,7,28,0,1,1,0
2,4,7,2,103,36,0,0,80.0,0.0,0.0,...,33.280072,126.362147,61.0,2021,10,10,1,0,1,0
3,0,13,2,107,57,0,0,50.0,0.0,0.0,...,33.245565,126.566228,20.0,2022,3,11,1,0,1,0
4,6,8,2,103,35,0,0,80.0,0.0,0.0,...,33.462677,126.330152,38.0,2021,10,5,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,1,16,1,107,0,0,0,50.0,0.0,0.0,...,33.420955,126.273750,20.0,2021,11,4,1,0,1,0
4701213,1,2,2,107,0,0,0,80.0,0.0,43200.0,...,33.472525,126.424890,65.0,2022,3,31,1,0,1,0
4701214,3,22,2,103,35,0,0,60.0,0.0,0.0,...,33.444121,126.912948,30.0,2022,6,13,1,0,1,0
4701215,2,2,2,103,37,0,0,80.0,0.0,0.0,...,33.444996,126.433332,73.0,2021,10,20,1,0,1,0
4701216,6,6,2,107,1,0,0,60.0,0.0,0.0,...,33.257130,126.510364,35.0,2021,10,19,1,0,1,0

In [40]:
df.to_csv("preprocess_train.csv")
df1.to_csv('preprocess_test.csv')